.intro-card {
  flex: 1 0 calc(25% - 16px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $grayscale-200;
  border-radius: 24px;
  padding: 24px 20px 26px 32px;

  &__header-container {
    display: flex;
    gap: 8px;
  }

  &__header {
    @include GolosMedium(24px, 115%, $grayscale-900);
  }

  &__icon-container {
    width: 28px;
    height: 28px;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__text {
    @include GolosRegular(16px, 100%, $grayscale-900);
    margin-top: 12px;
    max-width: 260px;
  }

  &__label-container {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
  }

  &__line {
    width: 48px;
    height: 1px;
    background-color: $grayscale-600;
  }

  &__label {
    @include GolosRegular(10px, 100%, $grayscale-600);
    text-transform: uppercase;
    max-width: 200px;
  }

  @media screen and (max-width: $large-desktop) {
    width: calc(244px + (368 - 244) * (100vw - 360px) / (1559.9 - 360));
  }

  @media screen and (max-width: $medium-desktop) {
    &__line {
      display: none;
    }
    padding: 24px 20px 26px 20px;
  }

  @media screen and (max-width: $small-desktop) {
    flex: 1 0 calc(50% - 16px);
  }

  @media screen and (max-width: $tablet) {
    border-radius: 12px;
    padding: 16px;

    &__header-container {
      gap: 4px;
    }

    &__header {
      @include GolosMedium(14px, 115%, $grayscale-900);
    }

    &__icon-container {
      width: 16px;
      height: 16px;
    }

    &__text {
      @include GolosRegular(12px, 100%, $grayscale-900);
      width: 190px;
    }

    &__label-container {
      margin-top: 8px;
    }

    &__line {
      display: none;
    }

    &__label {
      text-transform: none;
    }
  }

  @media screen and (max-width: $mobile) {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
