.auth-preloader {
  display: flex;
  min-height: calc(101vh);
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 102, 255, 0.9);
  opacity: 0.6;
  z-index: -9;
}
