.cart {
  &__product-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    padding: 34px;
    padding-right: 0;
    box-shadow:
      0px 5px 20px 0px rgba(1, 31, 58, 0.1),
      0px 2px 10px 0px rgba(1, 31, 58, 0.1);
  }

  &__product-list {
    padding-right: 34px;
    height: 450px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 15px;
      background-color: $grayscale-50;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grayscale-600;
      background-clip: content-box;
      border: 6px solid transparent;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-track {
      background-color: $grayscale-50;
      border-radius: 100px;
    }
  }

  &__product-list-container_type_loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &__product-list-header {
    display: flex;
    justify-content: end;
    padding-right: 34px;
    width: 100%;
    padding-bottom: 34px;

    &-clear-btn {
      @include GolosRegular(16px, 1, $grayscale-600);
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    &-clear-btn:focus {
      @extend %GreyLinkFocus;
    }

    &-clear-btn:focus:active {
      @extend %GreyLinkActive;
    }
  }
}

@media (hover: hover) {
  .cart {
    &__product-list-header {
      &-clear-btn:hover {
        color: $color-primary;
      }
    }
  }
}

@media screen and (max-width: $medium-desktop) {
  .cart {
    &__product-list {
      height: 650px;
    }
  }
}

@media screen and (max-width: $portrait-tablet) {
  .cart {
    &__product-list-container {
      padding: 17px;
    }

    &__product-list {
      &::-webkit-scrollbar-thumb {
        background-color: $grayscale-400;
      }
    }

    &__product-list-header,
    &__product-list {
      padding-right: 17px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .cart {
    &__product-list-container {
      padding: 8px;
    }

    &__product-list {
      height: 600px;
    }

    &__product-list-header,
    &__product-list {
      padding-right: 8px;
    }
  }
}
