@keyframes loading {
  0% {
    background-color: $grayscale-200;
  }
  50% {
    background-color: $grayscale-300;
  }
  100% {
    background-color: $grayscale-200;
  }
}

.cart {
  &__info-card-container {
    padding: 24px 32px;
    width: 100%;
    max-width: 440px;
    height: fit-content;
    border-radius: 16px;
    box-shadow:
      0px 5px 20px 0px rgba(1, 31, 58, 0.1),
      0px 2px 10px 0px rgba(1, 31, 58, 0.1);
  }

  &__info-card-container_type_loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &__info-card {
    padding-bottom: 16px;

    &-promo-code-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      padding-left: 16px;
      padding-right: 8px;
      width: 100%;
      height: 44px;
      background-color: $grayscale-200;
      border-radius: 8px;
      outline: none;
    }

    &-promo-code-input {
      @include GolosRegular(16px, 1, $grayscale-900);
      max-width: 200px;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      transition: 0.3s ease-in-out;
    }

    &-promo-code-input:focus {
      outline: none;
      border: none;
    }

    &-use-promo-code-button {
      @include GolosMedium(16px, 1, $grayscale-900);
      padding: 9px 12px;
      border-radius: 4px;
      background-color: $grayscale-50;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    &-used-promo-code {
      @include GolosRegular(16px, 1, $grayscale-900);
      padding-left: 25px;
      background-image: url('@/assets/images/png/cart-active-promo.png');
      background-repeat: no-repeat;
      background-position: left center;
    }

    &-delete-promo-code {
      width: 18px;
      height: 18px;
      background-image: url('@/assets/images/png/cart-delete-promo.png');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    &-discount-info-container {
      margin-top: 12px;
      height: 52px;
      min-height: 52px;
    }

    &-products-info,
    &-discount-info,
    &-products-final-price-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-discount-info {
      margin-top: 12px;
      height: 20px;
      transition: 0.15s ease-in-out;

      &--hidden {
        opacity: 0;
        visibility: hidden;
      }
    }

    &-products-count,
    &-products-price,
    &-products-discount-name,
    &-products-absolute-discount {
      @include GolosRegular(16px, 1, $grayscale-900);
    }

    &-products-absolute-discount {
      color: #eb5757;
      display: flex;
      gap: 5px;
    }

    &-products-final-price-container {
      margin-top: 16px;
      padding-top: 24px;
      border-top: 1px solid $grayscale-400;
    }

    &-products-final-price-heading,
    &-products-final-price {
      @include GolosMedium(28px, 1, $grayscale-900);
    }

    &-products-price_type_loading,
    &-products-absolute-discount_type_loading,
    &-products-final-price_type_loading {
      min-width: 70px;
      color: transparent;
      border-radius: 4px;
      animation: loading 1s infinite;
    }

    &-products-order-button {
      margin-top: 24px;
      width: 100%;
      max-width: 100%;
    }

    &-products-help-icon {
      width: 18px;
      height: 18px;
      background-image: url('@/assets/images/svg/cart-help.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &-products-help-icon_type_loading {
      visibility: hidden;
      opacity: 0;
    }

    &-delivery-discount-container {
      display: flex;
      align-items: center;
      gap: 20px;
      width: fit-content;
    }

    &-circle-progressbar-container {
      width: 50px;
      height: 50px;
      min-height: 50px;
      min-width: 50px;
    }

    &-delivery-icon {
      width: 24px;
      max-width: 24px;
    }

    &-delivery-discount-description {
      @include GolosRegular(16px, 1.3, $grayscale-900);

      &-apply {
        padding-left: 25px;
        background-image: url('@/assets/images/png/cart-active-promo.png');
        background-repeat: no-repeat;
        background-position: left center;
      }
    }

    &-delivery-discount-value {
      @include GolosMedium(16px, 1, $grayscale-900);
    }
  }
}

@media (hover: hover) {
  .cart {
    &__info-card {
      &-delete-promo-code:hover {
        transform: scale(1.2);
      }

      &-use-promo-code-button:hover {
        color: $grayscale-50;
        background-color: $color-primary;
      }

      &-products-help-icon:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $medium-desktop) {
  .cart {
    &__info-card {
      &-container {
        max-width: 380px;
      }

      &-promo-code-input {
        max-width: 160px;
      }

      &-products-final-price-heading,
      &-products-final-price {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: $small-desktop) {
  .cart {
    &__info-card {
      &-container {
        max-width: 100%;
      }

      &-products-order-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
      }

      &-promo-code-container {
        gap: 25px;
      }

      &-promo-code-input {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: $portrait-tablet) {
  .cart {
    &__info-card {
      &-promo-code-container {
        flex-direction: column;
        gap: 15px;
        padding: 0;
        height: 100%;
        background-color: $grayscale-50;
      }

      &-promo-code-input {
        padding: 6px;
        height: 44px;
        background-color: $grayscale-200;
        border-radius: 8px;
      }

      &-use-promo-code-button {
        display: block;
        align-self: flex-end;
        border-radius: 8px;
        box-shadow:
          0px 5px 20px 0px rgba(1, 31, 58, 0.05),
          0px 2px 10px 0px rgba(1, 31, 58, 0.05);
      }
    }
  }
}
