.loader-page {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100%;
  height: 100%;
}

.loader {
  width: 100px;
  height: 100px;
  background-image: url('@/assets/images/gif/loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
