@mixin GolosMedium {
  font-family: 'Golos', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@mixin GolosRegular {
  font-family: 'Golos', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin GolosBold {
  font-family: 'Golos', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@mixin InterSemiBold {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
