$grayscale-900: #011f3a;
$grayscale-600: #99a5b0;
$grayscale-400: #e0e4eb;
$grayscale-300: #eff1f5;
$grayscale-200: #f6f7fb;
$grayscale-100: #fafbfd;
$grayscale-50: #ffffff;

$primary-liner: linear-gradient(315deg, #14d7f2 5.07%, #1cd5a8 55.39%, #22d26d 100%);
$secondary-liner: linear-gradient(315deg, #10c5fe 5.07%, #0f7af9 100%);

$discount-liner: linear-gradient(108deg, #9554ff 0%, #b080ff 100%);
$bonus-liner: linear-gradient(333deg, #14b2f2 0%, #d222cb 100%);

$color-login: #1098fb;
$color-register: #2cc379;

$color-secondary: #109ffc;
$color-secondary-hover: #109efc;

$color-primary: #1ed497;
$color-primary-hover: #1aba8b;

$color-disabled: #eff1f5;
$color-light: #ffffff;

$large-desktop: 1559.9px;
$medium-desktop: 1359.9px;
$small-desktop: 1023.9px;
$tablet: 767.9px;
$portrait-tablet: 567.9px;
$mobile: 389.9px;

$error-input: #ff004d;
$plus-button: #1bf9ec;
$plus-button-hover: #c614f2;

$category-type1: #9f73e8;
$category-type2: #1fa191;
$category-type3: #35cad3;
$category-type4: #6286e2;
