.cards-section {
  margin-top: 80px;

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__counter {
    @include GolosRegular(20px, 100%, $grayscale-600);
    margin-left: 8px;
  }

  &__cards-container {
    display: flex;
    margin-top: 32px;
  }

  @media screen and (max-width: $tablet) {
    margin-top: 40px;

    &__cards-container {
      margin-top: 16px;
    }
  }
}

.swiper {
  display: flex;
  padding: 20px 0px !important;
  width: fit-content !important;
  max-width: 100% !important;
}

.arrow-swiper {
  height: 36px;
  align-self: center;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &:focus {
    @extend %TextBtnFocus;
  }

  &:active {
    @extend %IconBtnActive;
  }
}
