* {
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.container {
  margin: 0 auto;
  max-width: 1560px;
  padding: 0px 20px;
}

.heading {
  @include GolosMedium(36px, 1.1, $grayscale-900);
}

@media screen and (max-width: $medium-desktop) {
  .heading {
    font-size: 28px;
  }
}

@media screen and (max-width: $portrait-tablet) {
  .heading {
    font-size: 20px;
  }
}
