.header {
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
  }

  &__nav-container-auth {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__nav-container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    gap: 20px;
  }

  &__link:focus {
    outline: none;
  }

  &__item-reg {
    grid-area: reg;
  }

  &__item-log {
    grid-area: log;
  }

  &__item-profile {
    grid-area: profile;
  }

  &__item-logo {
    grid-area: logo;
  }

  &__item-about {
    grid-area: about;
  }

  &__item-catalog {
    grid-area: catalog;
  }

  &__item-input-search {
    grid-area: input;
  }

  &__item-cart {
    grid-area: cart;
  }

  &__button-nav {
    box-sizing: border-box;
    padding: 4px 12px;
    border-radius: 50px;
    @include GolosRegular(14px, normal, $grayscale-50);
    transition: opacity 0.3s;
  }

  &__button-nav:focus {
    @extend %MainBtnFocus;
    &:active {
      @extend %MainBtnActive;
    }
  }

  &__button-nav_type_register {
    background-color: $color-register;
  }

  &__button-nav_type_login {
    background-color: $color-login;
  }

  &__logo {
    width: 310px;
    height: 67px;
  }

  &__logo-link:focus {
    @extend %LogoFocus;
  }

  &__button-main {
    box-sizing: border-box;
    height: 44px;
    width: 134px;
    border-radius: 8px;
    @include GolosMedium(16px, 1, $grayscale-50);
    transition: opacity 0.3s;
    background: $primary-liner;
  }

  &__button-main:focus {
    @extend %MainBtnFocus;
    &:active {
      @extend %MainBtnActive;
    }
  }

  &__button-catalog {
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  &__button-catalog-icon {
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url('@/assets/images/svg/header-catalogue.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
  }

  &__button-catalog-text {
    @include GolosMedium(16px, 1, $grayscale-50);
  }

  &__button-cart {
    width: 24px;
    height: 24px;
    background-image: url('@/assets/images/svg/header-cart.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    position: relative;
    transition: opacity 0.3s;
  }

  &__button-cart:focus {
    @extend %MainBtnFocus;
    &:active {
      @extend %IconBtnActive;
    }
  }

  &__button-cart-text {
    @include GolosMedium(12px, normal, $grayscale-50);
    position: absolute;
    top: -7px;
    left: 13px;
    padding: 2px 5px;
    border-radius: 50%;
    background: $primary-liner;
  }

  &__form-search {
    position: relative;
  }

  &__input-search {
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding: 13px 16px;
    background-color: $grayscale-200;
    width: 800px;
  }

  &__input-search::placeholder {
    @include GolosRegular(14px, 1, $grayscale-600);
  }

  &__input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  &__input-search:focus {
    @extend %MainBtnFocus;
    &:active {
      @extend %MainBtnActive;
    }
  }

  &__button-search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 16px;
    background-image: url('@/assets/images/svg/header-search.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    transition: background-image 0.3s;
  }

  &__button-search:focus {
    @extend %MainBtnFocus;
    &:active {
      @extend %IconBtnActive;
    }
  }

  &__item-logo-mobile {
    display: none;
  }

  &__logo-mobile {
    width: 140px;
    height: 29px;
  }

  &__nav-extra-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $grayscale-200;
    background-color: $grayscale-50;
    z-index: 15;
  }

  &__button-main-mobile {
    width: 55px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button-main-mobile:focus {
    @extend %MainBtnFocus;
    &:active {
      @extend %MainBtnActive;
    }
  }

  &__button-main-mobile_type_cart {
    position: relative;
  }

  &__link_active &__button-icon-mobile,
  &__link_active &__button-text-mobile {
    filter: brightness(0.4);
  }

  &__button-icon-mobile {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }

  &__button-icon-mobile_type_main {
    background-image: url('@/assets/images/svg/header-home-mobile.svg');
  }

  &__button-catalog-icon-mobile_type_catalogue {
    background-image: url('@/assets/images/svg/header-catalogue-mobile.svg');
  }

  &__button-icon-mobile_type_about {
    background-image: url('@/assets/images/svg/header-heart-mobile.svg');
  }

  &__button-cart-icon-mobile_type_cart {
    background-image: url('@/assets/images/svg/header-cart-mobile.svg');
  }

  &__button-cart-text_type_mobile {
    font-size: 10px;
    top: -5px;
    left: 30px;
  }

  &__button-cart-icon-mobile_type_profile {
    background-image: url('@/assets/images/svg/header-user-mobile.svg');
  }

  &__button-text-mobile {
    @include GolosRegular(10px, normal, $grayscale-600);
  }
}

@media screen and (max-width: $large-desktop) {
  .header {
    max-width: calc(1024px + (1560 - 1024) * (100vw - 1024px) / (1559 - 1024));

    &__logo {
      width: calc(240px + (310 - 240) * (100vw - 1024px) / (1559 - 1024));
      height: calc(40px + (67 - 40) * (100vw - 1024px) / (1559 - 1024));
    }

    &__button-main {
      height: 34px;
      width: 100px;
      font-size: 12px;
    }

    &__button-catalog-text {
      font-size: 12px;
    }

    &__button-catalog-icon {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }

    &__input-search {
      width: calc(400px + (800 - 400) * (100vw - 1024px) / (1559 - 1024));
    }
  }
}

@media screen and (max-width: $small-desktop) {
  .header {
    max-width: calc(768px + (1024 - 768) * (100vw - 768px) / (1023 - 768));

    &__nav-container-main {
      display: grid;
      align-items: center;
      justify-content: baseline;
      width: fit-content;
      grid-template-areas:
        'logo about catalog . . .'
        'input input input input input cart';
    }

    &__input-search {
      width: calc(683px + (939 - 683) * (100vw - 768px) / (1023 - 768));
    }
  }
}

@media screen and (max-width: $tablet) {
  .header {
    max-width: calc(360px + (768 - 360) * (100vw - 360px) / (767 - 360));

    &__item-profile {
      display: none;
    }

    &__item-about {
      display: none;
    }

    &__item-catalog {
      display: none;
    }

    &__item-cart {
      display: none;
    }

    &__item-logo {
      display: none;
    }

    &__item-logo-mobile {
      display: flex;
      margin-right: calc(0px + (390 - 0) * (100vw - 390px) / (767 - 390));
    }

    &__item-logo-mobile_type_login {
      margin-right: calc(130px + (510 - 130) * (100vw - 390px) / (767 - 390));
    }

    &__nav-container-main {
      display: flex;
    }

    &__nav-container-auth {
      gap: 10px;
      align-self: center;
    }

    &__input-search {
      width: calc(350px + (727 - 350) * (100vw - 390px) / (767 - 390));
    }

    &__nav-extra-mobile {
      display: flex;
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
    &__nav-container-auth {
      flex-wrap: wrap;
    }

    &__item-logo-mobile {
      width: 280px;
    }

    &__item-logo-mobile_type_login {
      margin-right: 0;
    }
  }
}

@media (hover: hover) {
  .header__button-nav:hover,
  .header__button-main:hover,
  .header__button-cart:hover {
    @include MainBtnHover;
  }

  .header__button-search:hover {
    cursor: pointer;
    background-image: url('@/assets/images/svg/header-search-hover.svg');
  }

  .header__button-main-mobile:hover {
    cursor: pointer;
  }
}
