.cart {
  &__product-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-item {
      display: flex;
      justify-content: space-between;
      gap: 25px;
      padding: 29px 0px;
      width: 100%;
      border-top: 1px solid $grayscale-400;

      &-description-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
      }

      &-description {
        display: flex;
        align-items: center;
        gap: 32px;
      }

      &-image-container {
        max-width: 88px;
        max-height: 88px;
        min-width: 88px;
        min-height: 88px;
        background-image: url('@/assets/images/png/card-product-image-example.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &-heading {
        @include GolosMedium(16px, 1.3, $grayscale-900);
        max-width: 100%;
      }

      &-buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 420px;
      }

      &-counter-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100px;
        height: 44px;
        background-color: $grayscale-300;
        border-radius: 8px;
      }

      &-decrease-count,
      &-increase-count,
      &-counter {
        @include GolosMedium(20px, 1, $grayscale-900);
        padding: 0;
      }

      &-counter {
        width: 30px;
        text-align: center;
      }

      &-decrease-count,
      &-increase-count {
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }

      &-decrease-count:disabled,
      &-increase-count:disabled {
        color: $grayscale-600;
      }

      &-price-container {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      &-current-price {
        @include GolosMedium(18px, 1, $grayscale-900);

        &--small-font-size {
          font-size: 16px;
        }
      }

      &-prev-price {
        @include GolosRegular(16px, 1, $grayscale-600);
        text-decoration: line-through;

        &--small-font-size {
          font-size: 14px;
        }
      }

      &-delete-button {
        width: 20px;
        height: 20px;
        background-image: url('@/assets/images/png/cart-delete-product.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

@media (hover: hover) {
  .cart {
    &__product-list {
      &-item:hover &-item-delete-button {
        cursor: pointer;
        transform: scale(1.2);
      }

      &-item {
        &-decrease-count:hover,
        &-increase-count:hover {
          transform: scale(1.2);
        }
      }

      &-item {
        &-decrease-count:hover:disabled,
        &-increase-count:hover:disabled {
          transform: scale(1);
          cursor: default;
        }
      }
    }
  }
}

@media screen and (max-width: $medium-desktop) {
  .cart {
    &__product-list {
      &-item {
        flex-wrap: wrap;

        &-description,
        &-buttons-container {
          width: 100%;
          max-width: 100%;
        }

        &-description {
          gap: 40px;
        }

        &-buttons-container {
          justify-content: start;
          gap: 28px;
          width: 100%;
        }

        &-delete-button {
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (max-width: $small-desktop) {
  .cart {
    &__product-list-item {
      flex-direction: column;
      gap: 30px;

      &-image-container {
        max-width: 100px;
        max-height: 100px;
        min-width: 100px;
        min-height: 100px;
      }

      &-counter-container {
        width: 100px;
        height: 36px;
      }

      &-buttons-container {
        justify-content: start;
        gap: 38px;
      }
    }
  }
}

@media screen and (max-width: $portrait-tablet) {
  .cart {
    &__product-list-item {
      gap: 20px;
      padding: 16px 0px;

      &-heading {
        font-size: 16px;
      }

      &-description {
        gap: 20px;
      }

      &-current-price {
        font-size: 16px;
        &--small-font-size {
          font-size: 12px;
        }
      }

      &-image-container {
        max-width: 88px;
        max-height: 88px;
        min-width: 88px;
        min-height: 88px;
      }

      &-buttons-container {
        flex-wrap: wrap;
        justify-content: start;
        align-self: flex-end;
        gap: 28px;
        width: calc(100% - 88px - 20px);
      }

      &-buttons-container > &-price-container {
        min-width: 180px;
        order: -1;
      }

      &-prev-price {
        font-size: 14px;
        &--small-font-size {
          font-size: 12px;
        }
      }

      &-decrease-count,
      &-increase-count {
        font-size: 20px;
      }

      &-counter {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .cart {
    &__product-list-item {
      &-buttons-container {
        gap: 15px;
      }

      &-buttons-container > &-price-container {
        flex-wrap: wrap;
        min-width: 100px;
      }
    }
  }
}
